<html lang="en">

<head>
	<!-- <meta> tags> -->
	<title>Book Face</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

	<script src="js/script.js"></script>
	<link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">

</head>

<body>



	<table>

		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Link</th>
			</tr>

		</thead>

		<tbody id="table-body">

		</tbody>

	</table>


	<ul class="page" id="pagination">
	</ul>

	<script>

		$(function () {
			$(document).on('click', '.page__btn', function () {
				alert(1)
			})
		})
	</script>
</body>

</html>